#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0 2px 10px 0 #999;
}
#nav-bar .wrapper {
  display: flex;
}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
#nav-bar .header {
  align-self: center;
  font-size: 2em;
}
#nav-bar .session-control button {
  margin: 0;
  margin-right: 10px;
  padding: 5px;
  width: 75px;
  height: 50%;
  opacity: .8;
  font-size: 1em;
  cursor: pointer;
  align-self: center;
  border-radius: 2px;
  border: 1px solid #fff;
  outline: none;
}

#nav-bar .session-control button:hover {
  opacity: 1;
}
